<template>
    <div
        class="g-image-rw"
    >
        <v-file-input
            :label="$transl8.t(upload_label)"
            :rules="upload_rules"
            prepend-icon=""
            :prepend-inner-icon="upload_icon"
            v-model="upload_value"
            truncate-length="50"
            solo

            full-width

            show-size
            counter
            dense

            v-on:change="ev_editor_submit"
        >
        </v-file-input>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelContentPayload } from '~/tsmodules/api/content/models'

export default Vue.extend({
    data() {
        return {
            upload_value: null as File | null,

            transmit_show: false,
            transmit_status: false,
        }
    },

    props: {
        /**
         * type: string. required.
         * used combined with category in order to use assets.
         */
        asset_identifier: {
            type: String,
            required: true,
        },

        /**
         * type: string. default: 'assets-image'
         * used combined with assetid in order to use assets.
         */
        asset_category: {
            type: String,
            default: 'assets-image',
        },

        /**
         * type: string. default: mdi-icon
         */
        upload_icon: {
            type: String,
            default: 'mdi-image',
        },

        /**
         * type: string. default: #::upload
         */
        upload_label : {
            type: String,
            default: '#::upload',
        },

        /**
         * type: array<functions(e)>. default: [].
         */
        upload_rules: {
            type: Array,
            default: () => [],
        },
    },

    watch: {
        asset_identifier: {
            handler: function(nv: string, ov: string) {
                this.$fetch()
            },
        },
        asset_language: {
            handler: function(nv: string, ov: string) {
                this.$fetch()
            },
        },
    },

    async fetch() {
        this.upload_value = new File([await this.data_get()], this.asset_identifier, {});
    },

    methods: {
        async ev_editor_submit(): Promise<void> {
            this.transmit_status = await this.data_set();
            this.transmit_show = true;
            setTimeout(() => {
                this.transmit_show = false;
            }, 5000)
        },

        async data_get(): Promise<string> {
            return this.$tsmapi.content().ContentGet(this.asset_identifier, this.asset_category)
            .then((e) => {
                return e.payload.data || ''
            })
            .catch(() => {
                return '';
            })
        },

        async data_set(): Promise<boolean> {
            var fc = await this.$tsmapi.file().FileUpload(this.upload_value!)
            return this.$tsmapi.content().ContentSet(this.asset_identifier, this.asset_category, { data: fc } as IModelContentPayload);
        },
    },
})
</script>

<style scoped>

</style>
