<template>
    <GLoadingCircle
        :width="width"
        :height="height"
    >
        <slot name="headline">
            <p class="font--headline1">{{ headline }}</p>
        </slot>

        <slot name="body">
            <p class="font--content1">{{ body }}</p>
        </slot>
    </GLoadingCircle>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    props: {
        /**
         * type: string. default: <empty>
         */
        width: {
            type: String,
            default: '',
        },

        /**
         * type: string. default: <empty>
         */
        height: {
            type: String,
            default: '',
        },

        /**
         * type: string. required.
         * amount of already processed items.
         */
        item: {
            type: String,
            required: true,
        },

        /**
         * type: string. required.
         * amount of all processeable items.
         */
        items: {
            type: String,
            required: true,
        },

        /**
         * type: string. default: <empty>
         */
        headline: {
            type: String,
            default: '',
        },

        /**
         * type: string. default: processing item %%item%% of %%items%%
         */
        template: {
            type: String,
            default: 'processing item %%item%% of %%items%%',
        },

        /**
         * type: string. default: %%item%%
         */
        template_placeholder_item: {
            type: String,
            default: '%%item%%',
        },

        /**
         * type: string. default: %%items%%
         */
        template_placeholder_items: {
            type: String,
            default: '%%items%%',
        },
    },

    computed: {
        body(): String {
            var rtvl: string = this.template;
            rtvl = rtvl.replace(this.template_placeholder_item, this.item);
            rtvl = rtvl.replace(this.template_placeholder_items, this.items);
            return rtvl
        }
    }
})
</script>

<style scoped>

</style>
