<template>
    <div
        :style="{ 'width': width, 'height': height }"
        class="text-center"
    >
        <v-progress-circular
            :size="70"
            :width="7"
            :color="color"
            indeterminate
        ></v-progress-circular>

        <v-divider class="my-6"></v-divider>
        
        <slot>
            <span class="font--headline2 text-decoration-none">{{ $transl8.t(label) }} ...</span>
        </slot>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    props: {
        /**
         * type: string. default: 100%.
         */
        width: {
            type: String,
            default: '100%',
        },

        /**
         * type: string. default: auto.
         */
        height: {
            type: String,
            default: 'auto',
        },
    
        /**
         * type: string. default: '#::loading'
         */
        label: {
            type: String,
            default: '#::loading',
        },

        /**
         * type: string. default: 'primary'
         */
        color: {
            type: String,
            default: 'var(--primary-cp)',
        },
    }
})
</script>

<style scoped>

</style>
