<template>
    <div
        class="g-content-ro"
    >
        <GFormTuiViewer
            ref="message"
            :value="data.payload?.data || ''"
        >
        </GFormTuiViewer>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelContent } from '~/tsmodules/api/content/models'

export default Vue.extend({
    data() {
        return {
            data: {} as IModelContent,
        }
    },

    props: {
        /**
         * type: string. required.
         * used combined with asset_language in order to use assets.
         */
        asset_identifier: {
            type: String,
            required: true,
        },

        /**
         * type: string. default: 'assets-content'
         * used combined with assetid in order to use assets.
         */
        asset_category: {
            type: String,
            default: 'assets-content',
        },

        /**
         * type: string. required.
         */
        asset_language: {
            type: String,
            required: true,
        },
    },

    computed: {
        get_edit(): string {
            return this.data?.payload?.data || ''
        },
    },

    async fetch() {
        await this.$tsmapi.content().ContentGet(`${this.asset_identifier}_${this.asset_category}`, this.asset_language)
        .then((e) => {
            this.data = e
        })
        .catch((e) => {
            // silent
        })
    },
})
</script>

<style scoped>

</style>
