<template>
    <div
        class="g-text-fade"
    >
        {{ data_value }}
    </div>
</template>
<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {
            data_value: "" as string,
            data_pointer: 0 as number,
        }
    },

    props: {
        /**
         * type: array<string>. default [].
         */
        data: {
            type: [] as PropType<Array<string>>,
            default: () => [],
        },
    },

    mounted() {
        this.data_value = this.data.length >= 0 ? this.data[this.data_pointer] : ''
        setInterval(() => {
            this.data_value = this.data[this.data_pointer % this.data.length]
            this.data_pointer = this.data_pointer + 1;
        }, 2500)
    },
})
</script>

<style scoped>

</style>
