<template>
    <v-row 
        no-gutters
        style="height: 100%;"
    >
        <v-col
            cols="12" xs="12" sm="12" md="8" lg="8" xl="8"
            class="pa-3 colleft-container text-center"
        >
            <GPopup
                ref="popup"
                v-model="popup_value"
                button_accept_enable
                control_persistent
                v-on:ev_button_accept_click="ev_click_accept"
            >  
                <template slot="head">
                    <v-row
                        align="center"
                        justify="center"
                    >
                        <v-col
                            class="text-center mb-2"
                        >
                            <GTextfade
                                :data="welcome_list"
                            >
                            </GTextfade>
                            
                            <v-divider/>
                        </v-col>
                    </v-row>
                </template>

                <template slot="body">
                    <v-row>
                        <v-col class="text-center" cols="12" xs="12" sm="12" md="6" lg="6" xl="6">
                            <GImageRo
                                asset_identifier="intro-splash"
                                skeleton
                            >
                            </GImageRo>
                        </v-col>
                        <v-col class="text-left" cols="12" xs="12" sm="12" md="6" lg="6" xl="6">
                            <GLanguageSelect
                                :languages="this.$locales.language_list()"
                                v-model="language_value"
                                label=""
                            >
                            </GLanguageSelect>

                            <GCountrySelect
                                :countries="this.$locales.country_list()"
                                v-model="country_value"
                                label=""
                            >
                            </GCountrySelect>

                            <v-checkbox
                                dense
                                v-model="privacypolicy_value"
                            >
                                <template slot="label">
                                    <span style="line-height: 15px">
                                        {{ $transl8.t('#::global_privacypolicy_accept') }}
                                        <br/>
                                        <GLink
                                            link="/p/privacypolicy"
                                            class="font--content3"
                                            @click.prevent
                                        >
                                            {{ $transl8.t('#::global_privacypolicy_read') }}
                                        </GLink>
                                    </span>
                                </template>
                            </v-checkbox>

                            <!--
                            <v-checkbox
                                dense
                                v-model="whistleblowerpolicy_value"
                            >
                                <template slot="label">
                                    <span style="line-height: 15px">
                                        {{ $transl8.t('#::global_whistleblowerpolicy_accept')}}
                                        <br/>

                                        <GLink
                                            :link="$transl8.t('#::document_whistleblower').toString()"
                                            class="font--content3"
                                        >
                                            {{ $transl8.t('#::global_whistleblowerpolicy_read') }}
                                        </GLink>
                                    </span>
                                </template>
                            </v-checkbox>
                            -->
                        </v-col>
                    </v-row>
                </template>
            </GPopup>
        </v-col>
    </v-row>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    layout: 'splash',

    data() {
        return {
            popup_value: true,
            language_value: '',
            country_value: '',
            privacypolicy_value: false,
            whistleblowerpolicy_value: false,
        }
    },

    methods: {
        ev_click_accept(): void {
            // failure
            if(this.language_value === '' || this.country_value === '' || this.privacypolicy_value === false) {
                (this.$refs.popup as any).animate_click()
                return
            }

            // success
            this.popup_value = false;
            this.$router.push({ path: this.$route.query.r || "/p", query: this.$route.query })
        },
    },

    watch: {
        language_value: {
            handler(nv: string) {
                this.$i18n.setLocale(nv);
                this.$i18n.setLocaleCookie(nv);
                sessionStorage.setItem('locales_language', nv);
            },
        },
        country_value: {
            handler(nv: string) {
                sessionStorage.setItem('locales_country', nv);
            },
        },
        privacypolicy_value: {
            handler(nv: boolean) {
                sessionStorage.setItem('locales_privacypolicy', nv === true ? "1" : "0");
            }
        },
        whistleblowerpolicy_value: {
            handler(nv: boolean) {
                sessionStorage.setItem('locales_whistleblowerpolicy', nv === true ? "1" : "0");
            }
        },
    },

    computed: {
        // world-wide-welcomes :]
        welcome_list(): Array<string> {
            return [
                { language: 'BULGARIAN', word: 'добре дошъл' },
                { language: 'CZECH', word: 'Vítejte' },
                { language: 'DANISH', word: 'Velkommen' },
                { language: 'DUTCH', word: 'Welkom' },
                { language: 'ENGLISH', word: 'Welcome' },
                { language: 'ESTONIAN', word: 'Tere tulemast' },
                { language: 'FINNISH', word: 'Tervetuloa' },
                { language: 'FRENCH', word: 'Bienvenue' },
                { language: 'GERMAN', word: 'Herzlich willkommen' },
                { language: 'GREEK', word: 'Καλός ήλθατε' },
                { language: 'HUNGARIAN', word: 'Udvözlet' },
                { language: 'ITALIAN', word: 'Benvenuto' },
                { language: 'LATIN', word: 'Gratus mihi venis' },
                { language: 'LATVIAN', word: 'Laipni lūdzam' },
                { language: 'LITHUANIAN', word: 'Sveiki atvykę' },
                { language: 'LUXEMBOURGEOIS', word: 'Wëllkom' },
                { language: 'MALTESE', word: 'Merħba' },
                { language: 'NORWEGIAN', word: 'Velkommen' },
                { language: 'POLISH', word: 'Witaj' },
                { language: 'PORTUGUESE', word: 'Bem-vindo' },
                { language: 'ROMANIAN', word: 'Bine ai venit' },
                { language: 'SPANISH', word: 'Bienvenido' },
                { language: 'SWEDISH', word: 'Välkommen' },
            ].map((e) => e.word)
        },
    },

    mounted() {
        this.language_value = this.$i18n.locale || sessionStorage.get('locales_language');
        this.country_value = sessionStorage.getItem('locales_country') || '';
        this.privacypolicy_value = !!Number(sessionStorage.getItem('locales_privacypolicy')) || false;
        // this.whistleblowerpolicy_value = !!Number(sessionStorage.getItem('locales_whistleblowerpolicy')) || false;
    },
})
</script>

<style scoped>

</style>
