<template>
    <div>
        <v-row justify="center" align="center">
            <v-col cols="12" xs="10" sm="10" md="10" lg="10" xl="10" class="text-left">
                <v-row
                    no-gutters
                >
                    <v-spacer></v-spacer>

                    <GFormButton
                        :disabled="!!case_ref !== true"
                        :label="$transl8.t('#::global_connect')"
                        v-on:ev_click="connect_show = true"
                    >
                    </GFormButton>
                </v-row>
                
                <v-row
                    no-gutters
                >
                    <v-col 
                        cols="12"
                    >
                        <v-divider
                            class="my-4"
                        >
                        </v-divider>

                        <GChat
                            v-model="case_ref"
                            editor_enable
                        >
                        </GChat>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>

        <GPopup
            width_xs="80%"
            width_sm="80%"
            width_md="30%"
            width_lg="20%"
            width_xl="20%"

            v-model="connect_show"
        >
            <template v-slot:head>
                <v-row
                    no-gutters
                    align="center"
                    justify="center"
                >
                    <v-col
                        class="text-center"
                    >
                        <h2
                            :class="$vuetify.breakpoint.mdAndUp ? 'font--headline2' : 'font--headline2sm'"
                        >
                            {{ $transl8.t('#::global_connect')}}
                        </h2>
                        
                        <v-divider/>
                    </v-col>
                </v-row>
            </template>

            <template v-slot:body>
                <GConnect
                    :case_ref="case_ref"
                >
                </GConnect>
            </template>
        </GPopup>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { ApiAuthUser } from '~/tsmodules/api/auth'

export default Vue.extend({
    data() {
        return {
            case_ref: '',
            connect_show: false,
        }
    },

    mounted() {
        this.case_ref = this.$tsmapi.authuser().AuthUserState()?.computed_case_id || ''
    }
})
</script>

<style scoped>

</style>
