<template>
    <div>
        <v-row justify="center">
            <v-col cols="10" xs="10" sm="10" md="10" lg="3" xl="3" class="text-center">
                <!-- source: https://www.pexels.com/de-de/foto/abgeschlossen-wallpaper-nachricht-umschlag-5706001/ -->
                <GLinkImg
                    v-on:click="popup_loginnc_value = true"
                    :src="require(`~/assets/images/notewriting1_300x200.jpg`)"
                    label="#::global_case_new"
                    image_width="100%"
                    image_height="200px"
                >
                    <h2
                        :class="$vuetify.breakpoint.mdAndUp ? 'font--headline3' : 'font--headline3sm'"
                    >
                        {{ $transl8.t('#::global_case_new') }}
                    </h2>
                </GLinkImg>
            </v-col>

            <v-col cols="10" xs="10" sm="10" md="10" lg="3" xl="3" class="text-center">
                <!-- source: https://www.pexels.com/de-de/foto/weisses-leeres-notizbuch-733857/ -->
                <GLinkImg
                    v-on:click="popup_loginec_value = true"
                    :src="require(`~/assets/images/notewriting2_300x200.jpg`)"
                    label="#::global_case_existing"
                    image_width="100%"
                    image_height="200px"
                >
                    <h2
                        :class="$vuetify.breakpoint.mdAndUp ? 'font--headline3' : 'font--headline3sm'"
                    >
                        {{ $transl8.t('#::global_case_existing') }}
                    </h2>
                </GLinkImg>
            </v-col>
        </v-row>

        <!-- PopUp :: EC -->
        <GPopup
            v-model="popup_loginec_value"
            width_xs="90%"
            width_sm="90%"
            width_md="50%"
            width_lg="40%"
            width_xl="30%"
        >
            <template slot="head">
                <v-row
                    align="center"
                    justify="center"
                >
                    <v-col
                        class="text-center mb-2"
                    >
                        <h2
                            :class="$vuetify.breakpoint.mdAndUp ? 'font--headline2' : 'font--headline2sm'"
                        >
                            {{ $transl8.t('#::global_login') }} :: {{ $transl8.t('#::global_case_existing') }}
                        </h2>
                        
                        <v-divider/>
                    </v-col>
                </v-row>
            </template>

            <template slot="body">
                <GLoginUserEc
                    :case_ref="$route.query.c || ''"
                    v-on:ev_submit_success="ev_submit_success"
                >
                </GLoginUserEc>
            </template>
        </GPopup>

        <!-- PopUp :: NC -->
        <GPopup
            v-model="popup_loginnc_value"
            width_xs="90%"
            width_sm="90%"
            width_md="50%"
            width_lg="40%"
            width_xl="30%"
        >
            <template slot="head">
                <v-row
                    align="center"
                    justify="center"
                >
                    <v-col
                        class="text-center mb-2"
                    >
                        <h2
                            :class="$vuetify.breakpoint.mdAndUp ? 'font--headline2' : 'font--headline2sm'"
                        >
                            {{ $transl8.t('#::global_login') }} :: {{ $transl8.t('#::global_case_new') }}
                        </h2>
                        
                        <v-divider/>
                    </v-col>
                </v-row>
            </template>

            <template slot="body">
                <GLoginUserNc
                    v-on:ev_submit_success="ev_submit_success"
                >
                </GLoginUserNc>
            </template>
        </GPopup>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    data() {
        return {
            popup_loginec_value: false,
            popup_loginnc_value: false,
        }
    },

    watch: {
        popup_loginec_value: {
            handler(nv: boolean): void {
                if(nv === true) {
                    this.popup_loginnc_value = false;
                }
            }
        },
        popup_loginnc_value: {
            handler(nv: boolean): void {
                if(nv === true) {
                    this.popup_loginec_value = false;
                }
            }
        },
    },

    methods: {
        ev_submit_success() {
            this.$router.push({ path: this.$route.query.r || '/u' })
        },
    },

    mounted() {
        // ec auto-show
        // -> on querystring 'c'
        if(this.$route.query.c || '' !== '') {
            this.popup_loginec_value = true;
        }
    },
})
</script>

<style scoped>

</style>
