<template>
    <div class="g-connect-clipboard">
        <v-text-field 
            readonly 
            outlined 
            dense 
            :value="data_value"
        >
            <template slot="append-outer">
                <v-tooltip right>
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon 
                            v-bind="attrs" 
                            v-on="on" 
                            @click="clipboard_write" 
                        >
                            {{ tooltip_icon }}
                        </v-icon>
                    </template>
                    
                    <span>{{ $transl8.t(tooltip_label) }}</span>
                </v-tooltip>
            </template>
        </v-text-field>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    data() {
        return {
            data_value: '',
        }
    },

    props: {
        /**
         * type: string. default: ''
         */
        data: {
            type: String,
            default: '',
        },

        /**
         * type: string. default: mdi-content-copy.
         */
        tooltip_icon: {
            type: String,
            default: 'mdi-content-copy',
        },

        /**
         * type: string. default: copy to clipboard.
         */
        tooltip_label: {
            type: String,
            default: '#::global_copy_clipboard'
        }
    },

    watch: {
        data: {
            immediate: true,
            handler: async function(nv: string, ov: string) {
                this.data_value = nv;
            },
        }
    },

    methods: {
        async clipboard_write() {
            navigator.clipboard.writeText(this.data_value)
        }
    },
})
</script>

<style scoped>

</style>
