<template>
    <div
        class="g-link-img"
        v-on:click="$emit('click')"
    >   
        <GLink
            :link="link"
        >
            <v-card>
                <v-card-text class="px-0 pt-0 pb-1">
                    <!-- source: https://www.pexels.com/de-de/foto/selektive-fokusfotografie-einer-mailbox-2217613/ -->
                    <v-img
                        :src="src"
                        :alt="alt"
                        :width="!!image_width === true ? image_width : undefined"
                        :height="!!image_height === true ? image_height : undefined"
                    >
                    </v-img>
                </v-card-text>

                <v-card-subtitle class="py-2 text-center">
                        <slot>
                            <span class="font--content1">
                                {{ $transl8.t(label) }}
                            </span>
                        </slot>
                </v-card-subtitle>
            </v-card>
        </GLink>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    props: {
        /**
         * type: string. default: ''.
         */
        link: {
            type: String,
            default: '',
        },

        /**
         * type: string. default: ''.
         */
        label: {
            type: String,
            default: '',
        },

        /**
         * type: string. default: ''
         */
        src: {
            type: String,
            default: '',
        },

        /**
         * type: String. default: ''
         */
        alt: {
            type: String,
            default: '',
        },

        /**
         * type: String. default: ''
         */
        image_width: {
            type: String,
            default: '',
        },

        /**
         * type: String. default: ''
         */
        image_height: {
            type: String,
            default: '',
        },
    },
})
</script>

<style scoped>

</style>
