<template>
    <div
        class="g-link"
    >   
        <!-- LINK :: internal //  enabled -->
        <nuxt-link 
            v-if="!!link === true && !(link.startsWith('http://') || link.startsWith('https://'))" 
            :to="link" 
            style="color: var(--link-cp)"
            class="text-decoration-none"
        >
            <slot></slot>
        </nuxt-link>

        <!-- LINK :: external // enabled -->
        <a 
            v-else-if="!!link === true && (link.startsWith('http://') || link.startsWith('https://'))"
            :href="link"
            target="_blank"
            style="color: var(--link-cp)"
            class="text-decoration-none"
            @click.stop
        >
            <slot></slot>
        </a>

        <!-- LINK :: event-only -->
        <div 
            v-else 
            v-on:click="$emit('click')"
            style="color: var(--link-cp); cursor: pointer;"
            class="text-decoration-none"
        >
            <slot></slot>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    props: {
        /**
         * type: string. default: ''.
         */
        link: {
            type: String,
            default: '',
        },
    },
})
</script>

<style scoped>

</style>
