<template>
    <div class="g-country-select">
        <v-select
            dense
            :label="$transl8.t(label)"
            :value="country_code"
            :items="countries_value"
            item-text="name"
            item-value="code"
            :prepend-icon="icon"
            v-on:change="ev_change"
            menu-props="auto"
            class="form-select"
        ></v-select>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {
            countries_value: [] as Array<{ name: string, code: string }>,
        }
    },

    model: {
        prop: 'country_code',
        event: 'ev_change',
    },

    props: {
        /**
         * type: array of { name: string, code: string }. default: [].
         */
        countries: {
            type: [] as PropType<Array<{ name: string, code: string }>>,
            default: () => []
        },

        /**
         * type: string. default: ''.
         * value: countrie.code (2-way-binding with v-model)
         */
        country_code: {
            type: String,
            default: '',
        },

        /**
         * type: string. default: #::global_country.
         */
        label: {
            type: String,
            default: '#::global_country'
        },
        
        /**
         * type: string. default: mdi-translate.
         */
        icon: {
            type: String,
            default: 'mdi-earth',
        },
    },

    watch: {
        countries: {
            immediate: true,
            handler: function(nv: Array<{ name: string, code: string }>, ov: Array<{ name: string, code: string }>) {
                this.countries_value = nv
            },
        },

        country_code: {
            immediate: true,
            handler: function(nv: string, ov: string) {
                if(nv === '' && !ov) {
                    this.countries_value.unshift({ name: '', code: '' })
                }
            },
        },
    },

    methods: {
        ev_change(data: string) {
            // data: en || de || .. 
            if(data !== '') {
                this.$emit('ev_change', data)
                this.countries_value = this.countries.filter((e) => e.name !== '')
            }
        },
    },
})
</script>

<style scoped>
.form-select {
    width: 100%;
}
</style>
