<template>
    <div>
        <v-data-table
            dense
            :headers="headers"
            :items="data"
            item-key="time"
            hide-default-header
            hide-default-footer
        >

        </v-data-table>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {
            headers: [
                { text: this.$transl8.t('#::global_event'), align: 'left', value: 'text', width: '80%' },
                { text: this.$transl8.t('#::global_datetime'), align: 'right', value: 'time', width: '20%' },
            ],
        }
    },

    props: {
        /**
         * type: Array<{}>. default: Array<{ time: string, text: string }>
         */
        data: {
            type: [] as PropType<Array<{ time: string, text: string }>>,
            default: [],
        },
    },
})
</script>

<style scoped>

</style>
