<template>
  <v-app id="inspire">
      <LayoutHeader></LayoutHeader>

      <v-main>
            <v-row no-gutters class="content-container">
                <v-col cols="0" xs="0" sm="0" md="1" lg="2" xl="2"></v-col>

                <v-col cols="12" xs="12" sm="12" md="10" lg="8" xl="8" class="contentmiddle-container">
                    <div style="height: 100%;" class="pa-3">
                        <GSitenav></GSitenav>
                        <Nuxt />
                    </div>
                </v-col>

                <v-col cols="0" xs="0" sm="0" md="1" lg="2" xl="2"></v-col>
            </v-row>
      </v-main>

      <LayoutFooter></LayoutFooter>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    computed: {
        is_user_or_mgmt(): boolean {
            return this.$tsmapi.authuser().AuthUserState() !== null || this.$tsmapi.authmgmt().AuthMgmtState() !== null
        },
        is_mgmt(): boolean {
            return this.$tsmapi.authmgmt().AuthMgmtState() !== null
        },
        is_user(): boolean {
            return this.$tsmapi.authuser().AuthUserState() !== null
        },
    },

    methods: {
        ev_logout_click() {
            this.$tsmapi.authuser().AuthUserLogout()
            this.$tsmapi.authmgmt().AuthMgmtLogout()
            this.$router.push("/")
        },
    },
})
</script>

<style scoped>
.content-container {
    height: 100%; 
    background: #FFF;
}
.contentmiddle-container {
    height: 100%;
    background: #FFF;
}
</style>
