<template>
    <v-row 
        no-gutters
        style="height: 100%;"
    >
        <v-col 
            cols="12" xs="12" sm="12" md="12" lg="12" xl="12" 
            class="pa-5 pt-10 text-center" 
        >
            <h1 class="font--headline1">
                {{ $transl8.t('#::error_headline') }}
            </h1>

            <h2
                v-if="!!get_message === true"
                class="font--headline2"
            >
                {{ get_message }}
            </h2>

            <v-divider class="my-3"/>

            <v-avatar
                size=200
            >
                <img
                    src="~/assets/images/ladybug_400x400.jpg" 
                    alt="just a bug"
                    style="object-fit: cover;"
                />
            </v-avatar>

            <v-divider class="my-3"/>

            <NuxtLink 
                to="/" 
                class="font--headline2 black--text text-decoration-none"
            >
                {{ this.$transl8.t('#::global_navigate_back') }}
            </NuxtLink>
        </v-col>
    </v-row>
</template>

<script>
export default {
    props: {
        error: {
            type: Object,
            default: null
        }
    },

    computed: {
        get_message() {
            if(this.error.statusCode === 404) {
                return this.$transl8.t('#::error_message_404')
            }
            if(this.error.statusCode === 500) {
                return this.$transl8.t('#::error_message_500')
            }
            return ""
        },
    }
}
</script>

<style scoped>
.img {
    height: 200px;
}
</style>
