<template>
    <div class="g-login-user-nc">
        <v-row
            no-gutters
        >
            <v-col>
                <GFormPassword
                    v-model="password1_value"
                    label="#::global_password"
                    :rules_override="password_rules"
                    @keyup.enter.native="ev_login_click"
                >
                </GFormPassword>

                <GFormPassword
                    v-model="password2_value"
                    label="#::global_password_repeat"
                    :rules_override="password_rules"
                    @keyup.enter.native="ev_login_click"
                >
                </GFormPassword>
            </v-col>
        </v-row>

        <v-row
            v-if="error_value"
            no-gutters
        >
            <v-col>
                    <v-alert
                        dense
                        outlined
                        type="error"
                        class="my-3"
                        color="var(--error-cp)"
                    >
                        {{ error_value }}
                    </v-alert>
            </v-col>
        </v-row>

        <v-row
            no-gutters
            class="mt-3"
        >
            <v-col class="text-right">
                <GFormButton
                    icon=""
                    label="#::global_login"
                    v-on:ev_click="ev_login_click"
                >
                </GFormButton>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    data() {
        return {
            form: false,
            
            password1_value: '',
            password2_value: '',
            password_rules: [
                (value: string) => !!value || this.$transl8.t('#::global_required'),
                (value: string) => (value && value.length >= 8) || this.$transl8.t('#::validate_tooshort_nlength').toString().replace('{{ n }}', '8'),
            ],

            error_value: '',
        }
    },

    methods: {
        ev_login_click() {
            this.$emit("ev_submit")

            if(this.password1_value !== this.password2_value) {
                this.error_value = this.$transl8.t('validate_mustmatch_passwords');
                return '';
            }

            this.$tsmapi.authuser().AuthUserLogin('anonym', this.password1_value, false)
            .then((e) => {
                if(e !== null) {
                    this.$emit("ev_submit_success");
                }
                if(e === null) {
                    throw Error();
                }
            })
            .catch(() => {
                this.error_value = this.$transl8.t('#::gloginusernc_error').toString();
                this.$emit("ev_submit_failure");
            })
            .finally(() => {
                this.password1_value = '';
                this.password2_value = ''; 
            })
        }
    },
})
</script>

<style scoped>

</style>
