<template>
    <div 
        class="g-text-ro"
    >
        {{ get_text }}
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelContent } from '~/tsmodules/api/content/models'

export default Vue.extend({
    data() {
        return {
            data: {} as IModelContent,
        }
    },

    props: {
        /**
         * type: string. required.
         * used combined with asset_language in order to use assets.
         */
        asset_identifier: {
            type: String,
            required: true,
        },

        /**
         * type: string. default: 'assets-text'
         * used combined with assetid in order to use assets.
         */
        asset_category: {
            type: String,
            default: 'assets-text',
        },

        /**
         * type: string. required.
         */
        asset_language: {
            type: String,
            required: true,
        },

        /**
         * type: string. default: ''
         */
        fallback_value: {
            type: String,
            default: '',
        },
    },

    computed: {
        get_text(): string {
            return this.data?.payload?.data || this.fallback_value
        },
    },

    async fetch() {
        await this.$tsmapi.content().ContentGet(`${this.asset_identifier}_${this.asset_category}`, this.asset_language)
        .then((e) => {
            this.data = e
        })
        .catch((e) => {
            // silent
        })
    },
})
</script>

<style scoped>

</style>
