<template>
    <div
        class="g-color-rw"
    >
        <GLoadingProcess
            v-if="$fetchState.pending === true"
        >
        </GLoadingProcess>

        <v-row
            v-else
            class="mt-6"
            align="center"
            justify="center"

        >
            <v-col
                cols="6"
                class="text-right"
            >
                <GColorPreview
                    :data="data"  
                >
                </GColorPreview>
            </v-col>

            <v-col
                cols="6"
                class="text-left"
            >
                <GColorHexcode
                    :data="data"
                    v-on:ev_change="ev_change"
                >
                </GColorHexcode>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelContentPayload } from '~/tsmodules/api/content/models'

export default Vue.extend({
    data() {
        return {
            data: '000000',
        }
    },

    props: {
        /**
         * type: string. required.
         * used combined with category in order to use assets.
         */
        asset_identifier: {
            type: String,
            required: true,
        },

        /**
         * type: string. default: 'assets-color'
         * used combined with assetid in order to use assets.
         */
        asset_category: {
            type: String,
            default: 'assets-color',
        },
    },

    methods: {
        /**
         * push data to server
         */
        async push_data() {
            this.$tsmapi.content().ContentSet(this.asset_identifier, this.asset_category, {
                data: this.data!
            } as IModelContentPayload)
            .then((e) => {
                this.pull_data();
            })
            .catch(() => {

            })
        },

        /**
         * pull data from server
         */
        async pull_data() {
            this.$tsmapi.content().ContentGet(this.asset_identifier, this.asset_category)
            .then((e) => {
                this.data = e.response?.content! || '000000'
            })
            .catch((e) => {
                this.data = '000000'
            })
        },

        /**
         * ev_change
         */
        ev_change(e: string) {
            this.data = e;
            this.push_data();
        }
    },

    async fetch() {
        this.pull_data();
    },
})
</script>

<style scoped>

</style>
