<template>
    <div class="g-form-textarea">
        <v-form 
            ref="form"
            v-model="form"
            @submit.prevent
        >
            <v-textarea
                :label="$transl8.t(label)"
                :rules="rules"
                :value="value"
                :tabindex="tabindex"
                :height="height"
                :color="color"
                :background-color="background_color"
                v-on:change="ev_change"
                v-on:input="ev_change"
                dense
                no-resize
                hide-details="auto"
                class="textfield"

                solo
                flat
                filled
            >
            </v-textarea>
        </v-form>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {
            form: false,
            rules: [] as Array<(v: string) => string | true>,
        }
    },

    model: {
        prop: 'value',
        event: 'ev_change',
    },

    props: {
        /**
         * type: string. default: ''
         */
        value: {
            type: String,
            default: '',
        },

        /**
         * type: string. default: 't::subject'
         */
        label: {
            type: String,
            default: '#::content',
        },

        /**
         * type: string. default: mdi-lock.
         */
        /*
        icon: {
            type: String,
            default: 'mdi-text',
        },
        */

        /**
         * type: string. default: var(--primary-cp)
         */
        /*
        icon_color: {
            type: String,
            default: 'var(--primary-cp)'
        },
        */

        /**
         * type: string. default: #000000
         */
        color: {
            type: String,
            default: '#000000'
        },

        /**
         * type: string. default: #F8F8F8
         */
        background_color: {
            type: String,
            default: '#FFFFFF'
        },

        /**
         * type: string. default: ''
         */
        placeholder: {
            type: String,
            default: '#::textarea',
        },

        /**
         * type: array<function>. default: []
         */
        rules_override: {
            type: [] as PropType<Array<(v: string) => string | true>>,
            default: () => [],
        },

        /**
         * type: number. default: 100.
         */
        tabindex: {
            type: Number,
            default: 100,
        },

        /**
         * type: string. default: 'auto'.
         */
        height: {
            type: String,
            default: 'auto',
        }
    },

    methods: {
        ev_change(data: string): void {
            this.$emit('ev_change', data);
        }
    },

    watch: {
        rules_override: {
            immediate: true,
            handler(nv: Array<(v: string) => string | true>): void {
                this.rules = nv;
            },
        },
    },
})
</script>

<style scoped>
.textfield>>>textarea {
    color: #000;
}
.textfield>>>.v-label {
    color: gray;
}
</style>