<template>
    <div
        class="g-form-tuiviewer"
    >
        <TuiViewer
            ref="viewer"
            :height="height"
        >
        </TuiViewer>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    props: {
        /**
         * type: string. default: ''
         */
        value: {
            type: String,
            default: '',
        },

        /**
         * type: string. default: 280px.
         */
        height: {
            type: String,
            default: '280px',
        }
    },

    computed: {
        get_value_markdown(): string {
            return (this.$refs as any).viewer.invoke('getMarkdown')
        },
    },

    mounted() {
        (this.$refs as any).viewer.invoke('setMarkdown', this.value)
    },

    watch: {
        value: {
            handler(nv: string): void {
                (this.$refs as any).viewer.invoke('setMarkdown', this.value)
            }
        }
    }
})
</script>

<style scoped>

</style>
