<template>
    <div
        class="g-form-upload"
    >
        <v-btn 
            outlined
            :width="width"
            class="my-0 py-0"
            color="var(--primary-cp)"
            @click="popup = true"
        >
            <v-icon
                :left="icon !== '' && label !== '' ? true : false"
            >
                mdi-attachment
            </v-icon>

            {{ $transl8.t(label) }} 
            
            <template v-if="value.length !== 0">
                <template v-if="value.length === 1">
                    ({{ value.length }} {{ $transl8.t('#::global_file') }})
                </template>
                <template v-else>
                    ({{ value.length }} {{ $transl8.t('#::global_files') }})
                </template>
            </template>
        </v-btn>

        <GPopup
            v-model="popup"
            button_accept_enable
            button_accept_autoclose
            control_persistent
        >
            <template slot="head">
                {{ $transl8.t(label)}}
            </template>
            
            <template slot="body">
                <v-file-input
                    :label="$transl8.t(label)"
                    :rules="rules"
                    :prepend-icon="icon"
                    :value="value"
                    :clearable="false"
                    :error="error.length !== 0"
                    :error-messages="error"
                    @change="ev_change"
                    @input="ev_change"

                    chips
                    show-size
                    counter
                    multiple
                    dense
                >
                    <template #selection="{ file, text, index}">
                        <v-hover v-slot="{ hover }">
                            <v-row style="width: 100%;" align="center" justify="center" no-gutters :class="{ 'hover': hover }">
                                <!-- PREV -->
                                <v-col cols="12" xs="12" sm="12" md="4" lg="3" xl="3" class="text-center">
                                    <v-img :src="get_preview(file)" width="45px" style=""></v-img>
                                </v-col>

                                <!-- TEXT -->
                                <v-col cols="12" xs="12" sm="12" md="6" lg="8" xl="8" class="text-left">
                                    {{ text }}
                                </v-col>

                                <!-- ICON -->
                                <v-col cols="12" xs="12" sm="12" md="1" lg="1" xl="1" class="text-right">
                                    <v-btn
                                        icon
                                        @click.stop="$emit('ev_change', value.filter((e, i) => i !== index))"
                                    >
                                        <v-icon>
                                            mdi-close
                                        </v-icon>
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-hover>

                        <v-row style="width: 100%;" no-gutters class="mt-1 mb-1">
                            <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12" class="text-left">
                                <v-divider/>
                            </v-col>
                        </v-row>
                    </template>
                </v-file-input>
            </template>
        </GPopup>
    </div>
        
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {
            form: false,
            popup: false,
            rules: [] as Array<(v: File) => string | true>,
            error: [] as Array<string>,
        }
    },

    model: {
        prop: 'value',
        event: 'ev_change',
    },

    props: {
        /**
         * type: string. default: ''
         */
        value: {
            type: [] as PropType<Array<File>>,
            default: () => [],
        },

        /**
         * type: string. default: '#::fileupload'
         */
        label: {
            type: String,
            default: '#::global_upload',
        },

        /**
         * type: string. default: mdi-file.
         */
        icon: {
            type: String,
            default: 'mdi-file',
        },

        /**
         * type: array<function>. default: []
         */
        rules_override: {
            type: [] as PropType<Array<(v: File) => string | true>>,
            default: () => [],
        },

        /**
         * type: string. default: 
         */
        width: {
            type: String,
            default: '',
        }
    },

    methods: {
        ev_change(data: Array<File>): void {
            this.$emit('ev_change', data);
        },
        get_preview(f: File): string {
            return URL.createObjectURL(f);
        },
        format_bytes(bytes: number, dec: number = 2): string {
            if(bytes == 0) return '0 Bytes';
            var k = 1024,
                dm = dec || 2,
                sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                i = Math.floor(Math.log(bytes) / Math.log(k));
            return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
        },
    },

    watch: {
        rules_override: {
            immediate: true,
            handler(nv: Array<(v: File) => string | true>): void {
                this.rules = nv;
            },
        },

        value: {
            immediate: false,
            handler(files: Array<File>): void {
                this.error = [];
                files.forEach(async (file) => {
                    if(!await this.$tsmapi.file().FileextAllowed(file)) {
                        this.error.push(`${ this.$t('validate_fileextension') } (${file.name })`)
                    }
                    if(!await this.$tsmapi.file().FilesizeAllowed(file)) {
                        let maxfs = (await this.$tsmapi.bootstrap().GetValues()).fileUploads?.maxFileSizeInBytes
                        this.error.push(`${ this.$t('validate_filesize').toString().replace('{{ b }}', this.format_bytes(maxfs!).toString()) } (${file.name })`)
                    }
                })
            }
        },
    },
})
</script>

<style scoped>
.hover {
    background-color: #EFEFEF;
}
</style>
