<template>
    <div
        class="g-form-button"
    >
        <v-btn 
            :color="color"
            :width="width"
            :disabled="disabled"
            outlined
            class="my-0 py-0"
            @click="$emit('ev_click')"
        >
            <v-icon
                :left="icon !== '' && label !== '' ? true : false"
                :color="icon_color"
            >
                {{ icon }}
            </v-icon>
            {{ $transl8.t(label) }}
        </v-btn>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    props: {
        /**
         * type: string. default: '#::reset'
         */
        label: {
            type: String,
            default: '#::button',
        },

        /**
         * type: string. default: mdi-button-cursor
         */
        icon: {
            type: String,
            default: 'mdi-cursor-default',
        },

        /**
         * type: string. default: var(--primary-cp)
         */
        icon_color: {
            type: String,
            default: 'var(--primary-cp)'
        },

        /**
         * type: string. default: var(--primary-cp)
         */
        color: {
            type: String,
            default: 'var(--primary-cp)',
        },

        /**
         * type: string. default: 
         */
        width: {
            type: String,
            default: '',
        },

        /**
         * type: boolean. default: false.
         */
        disabled: {
            type: Boolean,
            default: false,
        },
    },
})
</script>

<style scoped>

</style>
