<template>
    <div>
        <v-pagination
            v-model="pagination_page_value"
            :length="pagination_numpages"
            v-on:input="ev_change"
            color="var(--success-cp)"
            class="mt-2"
        >
        </v-pagination>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {
            pagination_page_value: 0,
        }
    },

    model: {
        event: 'ev_change',
        prop: 'pagination_page',
    },
    
    props: {
        /**
         * type: number. default: 1
         */
        pagination_page: {
            type: Number,
            default: 1,
        },

        /**
         * type: number. default: 12
         */
        pagination_numpages: {
            type: Number,
            default: 1,
        },
    },

    methods: {
        ev_change(v: Number) {
            this.$emit("ev_change", v);
        },
    },

    watch: {
        pagination_page: {
            immediate: true,
            handler(nv: number): void {
                this.pagination_page_value = nv;
            },  
        }
    },
})
</script>

<style scoped>

</style>
