<template>
    <div>
        <v-data-table
            :loading="$fetchState.pending === true"
            :items="data"
            :headers="head"
            :items-per-page="-1"
            :server-items-length="data.length"

            disable-pagination
            hide-default-footer

            :no-data-text="$transl8.t('#::global_empty_list')"
            :no-results-text="$transl8.t('#::global_empty_list')"
        >
            <template
                v-slot:loading
            >
                <GLoadingCircle
                    class="mt-4 mb-4"
                >
                </GLoadingCircle>
            </template>

            <template
                v-slot:item="{ item }"
            >  
                <GCaselistElement
                    :data="item"
                    @click.native="ev_element_click(item)"
                >
                </GCaselistElement>
            </template>

            <template
                v-slot:footer
            >  
                <GCaselistPagination
                    v-if="$fetchState.pending === false"
                    :pagination_page="pagination_page_value"
                    :pagination_numpages="pagination_numpages_value"
                    v-on:ev_change="ev_pagination_change"
                >
                </GCaselistPagination>
            </template>
        </v-data-table>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelCase } from '~/tsmodules/api/case/models'

export default Vue.extend({
    data() {
        return {
            data: [] as Array<IModelCase>,

            pagination_page_value: 0,
            pagination_numitems_value: 0,
            pagination_numpages_value: 0,

            head: [
                { text: this.$transl8.t('#::global_subject'), value: 'subject', align: 'start', sortable: false, filterable: false, },
                { text: this.$transl8.t('#::global_datetime'), value: 'datetime', align: 'center', width: '25%', sortable: false, filterable: false, },
                { text: this.$transl8.t('#::global_state'), value: 'state', align: 'center', width: '10%', sortable: false, filterable: false, },
            ],
        }
    },
    
    props: {
        /**
         * type: number. default: 1
         * page to display
         */
        pagination_page: {
            type: Number,
            default: 1,
        },

        /**
         * type: number. default: 12
         * items displayed per page
         */
        pagination_numitems: {
            type: Number,
            default: 1,
        },
    },

    async fetch() {
        this.data = await this.$tsmapi.case().CaseGetAll(true, false, false, this.pagination_page_value, this.pagination_numitems_value)
        this.pagination_numpages_value = Math.ceil(((await this.$tsmapi.case().CaseCount()) / this.pagination_numitems_value))
    },

    methods: {
        ev_element_click(v: IModelCase) {
            this.$emit("ev_element_click", v)
        },
        ev_pagination_change(v: number) {
            this.data = [];
            this.$emit('ev_pagination_change', v)
            this.pagination_page_value = v;
            this.$fetch();
        }
    },

    watch: {
        pagination_page: {
            handler(nv: number): void {
                this.pagination_page_value = nv;
                this.$fetch();
            },
        },
        pagination_numitems: {
            handler(nv: number): void {
                this.pagination_numitems_value = nv;
                this.$fetch();
            },
        },
    },

    beforeMount() {
        this.pagination_page_value = this.pagination_page;
        this.pagination_numitems_value = this.pagination_numitems;
    },
})
</script>

<style scoped>

</style>
