<template>
    <tr>
        <!-- SUBJECT -->
        <td class="text-left textflow">
            <template
                v-if="$vuetify.breakpoint.smAndUp === true"
            >
                {{ get_subject }}
            </template>
        </td>

        <!-- DATETIME -->
        <td class="text-center">
            <!-- DATETIME :: CREATION-TIME -->
            <div
                :style="{
                    'border-bottom': $vuetify.breakpoint.lgAndUp === false ? '1px solid #CCC' : 'none',
                }"
            >
                <v-tooltip 
                    bottom
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-row
                            no-gutters
                            v-bind="attrs"
                            v-on="on"
                        >
                            <v-col 
                                cols="12" 
                                xs="12" 
                                sm="12" 
                                md="12" 
                                lg="6" 
                                xl="6" 
                                :style="{ 
                                    'border-right': $vuetify.breakpoint.lgAndUp === true ? '1px solid #CCC' : 'none',
                                }"
                                :class="{
                                    'pr-1': $vuetify.breakpoint.lgAndUp === true,
                                    'text-center': $vuetify.breakpoint.lgAndUp === false, 
                                    'text-right': $vuetify.breakpoint.lgAndUp === true,
                                }"
                            >
                                {{ get_creation_time }}
                            </v-col>

                            <v-col 
                                cols="12" 
                                xs="12" 
                                sm="12" 
                                md="12" 
                                lg="6" 
                                xl="6" 
                                :class="{
                                    'pl-1': $vuetify.breakpoint.lgAndUp === true,
                                    'text-center': $vuetify.breakpoint.lgAndUp === false, 
                                    'text-left': $vuetify.breakpoint.lgAndUp === true,
                                }"
                            >
                                {{ get_creation_date }}
                            </v-col>
                        </v-row>
                    </template>
                    {{ $transl8.t('#::global_datetime_created') }}
                </v-tooltip>
            </div>

            <!-- DATETIME :: ACTIVITY-TIME -->
            <div>
                <v-tooltip 
                    bottom
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-row
                            no-gutters
                            v-bind="attrs"
                            v-on="on"
                        >
                            <v-col 
                                cols="12" 
                                xs="12" 
                                sm="12" 
                                md="12" 
                                lg="6" 
                                xl="6" 
                                :style="{ 
                                    'border-right': $vuetify.breakpoint.lgAndUp === true ? '1px solid #CCC' : 'none',
                                }"
                                :class="{
                                    'pr-1': $vuetify.breakpoint.lgAndUp === true,
                                    'text-center': $vuetify.breakpoint.lgAndUp === false, 
                                    'text-right': $vuetify.breakpoint.lgAndUp === true,
                                }"
                            >
                                {{ get_activity_time }}
                            </v-col>

                            <v-col 
                                cols="12" 
                                xs="12" 
                                sm="12" 
                                md="12" 
                                lg="6" 
                                xl="6" 
                                :class="{
                                    'pl-1': $vuetify.breakpoint.lgAndUp === true,
                                    'text-center': $vuetify.breakpoint.lgAndUp === false, 
                                    'text-left': $vuetify.breakpoint.lgAndUp === true,
                                }"
                            >
                                {{ get_activity_date }}
                            </v-col>
                        </v-row>
                    </template>
                    {{ $transl8.t('#::global_datetime_updated') }}
                </v-tooltip>
            </div>
        </td>

        <!-- ACTIVITY & MESSAGE -->
        <td class="text-center">
            <!-- STATE -->
            <div class="d-inline-block">
                <v-tooltip 
                    v-if="get_case_state === 'o'"
                    bottom
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon
                            small
                            color="var(--error-cp)"
                            v-bind="attrs"
                            v-on="on"
                        >
                            mdi-lock-open-variant
                        </v-icon>
                    </template>
                    <span>{{ $transl8.t('#::global_case_isopened') }}</span>
                </v-tooltip>

                <v-tooltip 
                    v-if="get_case_state === 'c'"
                    bottom
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon
                            small
                            color="var(--warning-cp)"
                            v-bind="attrs"
                            v-on="on"
                        >
                            mdi-lock
                        </v-icon>
                    </template>
                    <span>{{ $transl8.t('#::global_case_isclosed') }}</span>
                </v-tooltip>

                <v-tooltip 
                    v-if="get_case_state === 'a'"
                    bottom
                >
                    <template v-slot:activator="{ on, attrs }">

                        <v-icon
                            small
                            color="var(--info-cp)"
                            v-bind="attrs"
                            v-on="on"
                        >
                            mdi-lock-check
                        </v-icon>
                    </template>
                    <span>{{ $transl8.t('#::global_case_isarchived') }}</span>
                </v-tooltip>
            </div>

            <!-- ACTIVITY :: USER -->
            <div class="d-inline-block">
                <v-tooltip 
                    v-if="get_activity_user === true"
                    bottom
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon
                            small
                            color="var(--warning-cp)"
                            v-bind="attrs"
                            v-on="on"
                        >
                            mdi-account-alert
                        </v-icon>
                    </template>
                    <span>by {{ get_activity_username }}</span>
                </v-tooltip>
            </div>

            <!-- ACTIVITY :: MGMT -->
            <div class="d-inline-block">
                <v-tooltip 
                    v-if="get_activity_mgmt === true"
                    bottom
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon
                            small
                            color="var(--info-cp)"
                            v-bind="attrs"
                            v-on="on"
                        >
                            mdi-account-group
                        </v-icon>
                    </template>
                    <span>by {{ get_activity_username }}</span>
                </v-tooltip>
            </div>

            <!-- MESSAGE-COUNT -->
            <div class="d-inline-block">
                <v-tooltip 
                    bottom
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon
                            small
                            color="var(--secondary-cp)"
                            v-bind="attrs"
                            v-on="on"
                        >
                            mdi-chat-outline
                        </v-icon>
                        <small>{{ get_message_count }}</small>
                    </template>
                    <span>{{ get_message_count }} {{ $transl8.t('#::global_messages') }}</span>
                </v-tooltip>
            </div>
        </td>
    </tr>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { HrDate } from '~/tsmodules/hrdate'
import { IModelCase } from '~/tsmodules/api/case/models'

export default Vue.extend({
    props: {
        data: {
            type: Object as PropType<IModelCase>, 
            required: true,
        },
    },

    computed: {
        get_subject(): string {
            if(this.data.messages.length === 0 || this.data.messages[0].payload?.subject === null) {
                return "-"
            }
            if(this.data.messages[0].payload.message.length <= 150) {
                return this.data.messages[0].payload.message
            } 
            else {
                return this.data.messages[0].payload.message.substr(0, this.data.messages[0].payload.message.lastIndexOf(' ', 150)) + " ..."
            }
        },
        get_creation_date(): string {
            var locale = (this.$i18n.locales as { code: string, file: string }[]).find((e) => e.code === this.$i18n.locale)?.file.split('.')[0] || 'de-DE'
            return new HrDate(locale).GetDate(this.data.response.creationDate!)
        },
        get_creation_time(): string {
            var locale = (this.$i18n.locales as { code: string, file: string }[]).find((e) => e.code === this.$i18n.locale)?.file.split('.')[0] || 'de-DE'
            return new HrDate(locale).GetTime(this.data.response.creationDate!)
        },
        get_activity_date(): string {
            var locale = (this.$i18n.locales as { code: string, file: string }[]).find((e) => e.code === this.$i18n.locale)?.file.split('.')[0] || 'de-DE'
            return this.data.messages.length !== 0 ? new HrDate(locale).GetDate(this.data.messages[this.data.messages.length-1].response.creationDate!) : '-'
        },
        get_activity_time(): string {
            var locale = (this.$i18n.locales as { code: string, file: string }[]).find((e) => e.code === this.$i18n.locale)?.file.split('.')[0] || 'de-DE'
            return this.data.messages.length !== 0 ? new HrDate(locale).GetTime(this.data.messages[this.data.messages.length-1].response.creationDate!) : '-'
        },
        get_activity_username(): string {
            if(this.data.messages.length === 0) {
                return '-'
            }

            let msg = this.data.messages.slice()
            msg.sort((x, y) => (x.response.creationDate!) < (y.response.creationDate!) ? 1 : -1)
            if(msg[0].computed_author === null) {
                return this.$transl8.t('#::global_anonymous_from').toString()
            }
            else {
                return msg[0].computed_author?.response.name!
            }
        },
        get_activity_user(): boolean {
            if(this.data.messages.length === 0) {
                return false
            }

            let msg = this.data.messages.slice()
            msg.sort((x, y) => (x.response.creationDate!) < (y.response.creationDate!) ? 1 : -1)
            if(msg[0].computed_author === null) {
                return true
            }
            else {
                return false
            }
        },
        get_activity_mgmt(): boolean {
            if(this.data.messages.length === 0) {
                return false
            }

            let msg = this.data.messages.slice()
            msg.sort((x, y) => (x.response.creationDate!) < (y.response.creationDate!) ? 1 : -1)
            if(msg[0].computed_author === null) {
                return false
            }
            else {
                return true
            }
        },
        get_message_count(): number {
            return this.data.response.messages?.length || 0
        },
        get_case_state(): string {
            return this.data.computed_state;
        }
    }
})
</script>

<style scoped>
.caselist-element-container {
    cursor: pointer;
}
.textflow {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
</style>
