<template>
    <div class="g-chat-edtior">
        <v-timeline-item
            :color="get_color"
            :icon="get_icon"
            fill-dot
        >
            <v-card
                :color="get_color"
                class="elevation-2"
                dark
            >
                <v-card-title 
                    class="card-title py-1"
                    :class="$vuetify.breakpoint.mdAndUp ? 'font--headline2' : 'font--headline2sm'"
                >
                    <h2>
                        {{ $transl8.t('#::global_message_compose') }}
                    </h2>
                </v-card-title>

                <v-card-text 
                    class="card-text white text--primary"
                >
                    <GCaseeditor
                        v-on:ev_submit_click="(d) => $emit('ev_submit_click', d)"
                        :case_ref="case_ref"
                    >
                    </GCaseeditor>
                </v-card-text>
            </v-card>
        </v-timeline-item>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    props: {
        /**
         * type: string. default: ''
         */
        case_ref: {
            type: String,
            default: '',
        },
    },

    computed: {
        get_icon(): string {
            return 'mdi-text';
        },
        get_color(): string {
            return "var(--secondary-cp)"
        },
    }
})
</script>

<style scoped>

</style>
